body{
  background:rgb(0, 255, 128);
}
h1{
  text-align: center;
}
.caixa1{
  position: absolute;
  width: 200px;
  height:200px; 
  background: rgb(89, 2, 252);
  right: 0%;
  top: 40%;
}
.caixa2{
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgb(78, 247, 0);
  bottom: 0%;
  right: 0%;
}
.menuPrincipal{
  position: relative;
  width: 100%;
  height: 100px;
  background: rgb(0, 255, 128);
  

}